---
import BriefcaseIcon from "@/components/icons/Briefcase.astro";
import CodeIcon from "@/components/icons/Code.astro";
import Container from "@/components/Container.astro";
import Hero from "@/components/Hero.astro";
import Experience from "@/components/Experience.astro";
import Layout from "@/layouts/Layout.astro";
import ProfileIcon from "@/components/icons/Profile.astro";
import About from "@/components/About.astro";
import Skills from "@/components/Skills.astro";
---

<Layout
  title="Portafolio de Mauro Quinteros - Desarrollador y Programador web"
  description="Desarrollador backend"
>
  <main class="px-4 lg:px-0">
    <Container id="home" class="pt-24 md:pt-40 pb-20">
      <Hero />
    </Container>
    <Container id="experience" class="py-20">
      <h2 class="text-3xl font-medium mb-6 flex gap-x-3 items-center">
        <BriefcaseIcon class="size-6" />
        Experiencia laboral
      </h2>
      <Experience />
    </Container>
    <Container id="about" class="py-20">
      <h2 class="text-3xl font-medium mb-6 flex gap-x-3 items-center">
        <ProfileIcon class="size-6" />
        Sobre mí
      </h2>
      <About />
    </Container>
    <Container id="skills" class="py-20">
      <h2 class="text-3xl font-medium mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-6" />
        skills
      </h2>
      <Skills />
    </Container>
  </main>
</Layout>

<style></style>
