---
import Badge from "../components/Badge.astro";
import Container from "../components/Container.astro";
import Experience from "../components/Experience.astro";
import SocialBadge from "../components/SocialBadge.astro";
import GithubIcon from "../components/icons/Github.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import BriefcaseIcon from "../components/icons/Briefcase.astro";
import MailIcon from "../components/icons/Mail.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Portafolio de Mauro Quinteros - Desarrollador y Programador web"
  description="Desarrollador backend"
>
  <main>
    <Container id="about" class="pt-40 pb-24">
      <img
        class="rounded-full size-12 mb-4"
        src="/public/logo.jpg"
        alt="logo"
      />
      <h1 class="text-white text-5xl font-bold flex items-center gap-x-4 pb-4">
        Hey, soy Mauro
        <Badge>Disponible para trabajar</Badge>
      </h1>
      <h2 class="text-white text-2xl text-wrap">
        +15 años de experiencia.
        <span class="text-yellow-200/90"
          >Desarrollador Web y Creador de Contenido.</span
        >
        <span class="text-red-200/90"> De Barcelona, España 🇪🇸.</span>
        <span class="opacity-85"
          >Especializado en crear aplicaciones únicas.</span
        >
      </h2>

      <nav class="flex gap-x-4 mt-8 text-white">
        <SocialBadge href="https://www.linkedin.com/in/mauroquinteroos/">
          <LinkedInIcon class="size-6" />
          LinkedIn
        </SocialBadge>
        <SocialBadge href="https://github.com/mauroquinteroos">
          <GithubIcon class="size-6" />
          Github
        </SocialBadge>
        <SocialBadge href="mailto:quinterosmauro0599@gmail.com">
          <MailIcon class="size-6" />
          hello@mauroquinteros.com
        </SocialBadge>
      </nav>
    </Container>
    <Container id="experience">
      <h2 class="text-2xl semi-bold mb-6 flex gap-x-3 items-center text-white">
        <BriefcaseIcon class="size-6" />
        Experiencia laboral
      </h2>
      <Experience />
    </Container>
  </main>
</Layout>

<style></style>
