---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="w-full lg:w-[740px] mx-auto py-40">
      <img
        class="rounded-full w-12 h-12 mb-4"
        src="/public/logo.jpg"
        alt="logo"
      />
      <h1 class="text-white text-5xl font-bold flex items-center gap-x-4 pb-4">
        Hey, soy Mauro
        <Badge>Disponible para trabajar</Badge>
      </h1>
      <h2 class="text-white text-2xl text-wrap">
        +15 años de experiencia.
        <span class="text-yellow-200/90"
          >Desarrollador Web y Creador de Contenido.</span
        >
        <span class="text-red-200/90"> De Barcelona, España 🇪🇸.</span>
        <span class="opacity-85"
          >Especializado en crear aplicaciones únicas.</span
        >
      </h2>
    </section>
  </main>
</Layout>

<style></style>
