<div
  class="flex flex-col-reverse md:flex-row gap-8 justify-center items-center"
>
  <div
    class="text-base text-pretty text-gray-800 dark:text-gray-300
    [&>p]:mb-4 dark:[&>p>strong]:text-turquoise-500 [&>p>strong]:text-blueribbon-600 [&>p>strong]:font-semibold"
  >
    <p>
      Bachiller en <strong>Ingeniería de Sistemas.</strong> Inicié en la programación
      web participando en hackathons durante mi etapa universitaria. Soy <strong
        >analítico, curioso y resiliente</strong
      >. Me gusta trabajar en startups debido a sus entornos dinámicos y grandes
      desafíos.
    </p>
    <p>
      Actualmente, soy Backend Developer en una Fintech, donde <strong
        >desarrollo soluciones</strong
      > y colaboro en la <strong>definición de problemas</strong> junto con el equipo
      de producto.
    </p>
    <p>
      Mi objetivo profesional es utilizar la tecnología para <strong
        >crear soluciones que impacten positivamente a muchas personas.</strong
      >
    </p>
  </div>
  <img
    src="/profile.webp"
    alt="Profile photo"
    class="size-52 sm:size-64 aspect-square object-cover p-1 lg:p-2 rotate-3 rounded-2xl order-1 md:order-2 bg-blueribbon-600/5 dark:bg-turquoise-500/5 ring-1 ring-white/20"
  />
</div>

<style>
  div p:last-of-type {
    margin-bottom: 0px;
  }
</style>
