<div
  class="flex flex-col-reverse md:flex-row gap-8 justify-center items-center"
>
  <div
    class="[&>p]:mb-4 dark:text-white [&>p>strong]:text-yellow-200 [&>p>strong]:font-semibold text-pretty"
  >
    <p>
      Me llamo Mauro Quinteros. Tengo bachiller en Ingeniería de Sistemas.
      Empecé en la programación al participar en Hackathons.
    </p>
    <p>
      Soy un desarrollador web con dos años de experiencia en desarrollo backend
      para el sector financiero. Me gusta trabajar en equipos que enfrentan <strong
        >desafíos en la escalabilidad del producto y buscan mejorar la
        experiencia del usuario.</strong
      >
    </p>
    <p>
      Entre mis logros destaco que he promovido la <strong
        >adopción de buenas prácticas como la documentación de código y el
        desarollo de tests</strong
      > entre los equipos que he trabajado. Cuento con habilidades en el desarrollo
      de APIs, desarrollo tests y gestión de servicios en la nube.
    </p>
  </div>
  <img src="/profile.webp" alt="Profile photo" class="rounded-full size-64" />
</div>
