<span class="relative flex overflow-hidden rounded-full p-[1px]">
  <span
    class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#2dd4bf_0%,#21554e_50%,#2dd4bf_100%)]"
  ></span>
  <div
    class="inline-flex items-center justify-center
    w-full px-3 py-1 rounded-full cursor-pointer
    text-xs sm:text-sm md:text-base
    bg-white dark:bg-gray-900 backdrop-blur-3xl whitespace-nowrap"
  >
    <slot />
  </div>
</span>
