---
import ExperienceItem from "./ExperienceItem.astro";

const experiences = [
  {
    date: "Enero 2023 - Actualmente",
    title: "Software Developer - Finsmart",
    description:
      "Desarrollar de endpoints para una API REST utilizando NestJS aplicando Domain Driven Design para el sistema back office de transferencias e implementar design system en Angular utilizando Storybook.",
    link: "https://finsmart.pe/",
  },
  {
    date: "April 2022 - Diciembre 2022",
    title: "Backend Developer - Banco Ripley",
    description:
      "Desarrollar microservicios en Golang para el sistema de transferencias de fondos y elaborar la documentaci贸n de los mismos.",
  },
  {
    date: "Julio 2021 - Abril 2022",
    title: "Backend Developer - Red Salud",
    description:
      "Desarrollar el servicio de facturaci贸n electr贸nica con SUNAT utilizando el framework de Flask y desarrollar el servicio de afiliaci贸n de asegurados de SUSALUD utilizando el framework de Spring.",
  },
];
---

<ol class="relative border-s border-gray-300 dark:border-white/20 ml-3">
  {
    experiences.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>

<style>
  ol li:last-of-type {
    margin-bottom: 0px;
  }
</style>
