---
import ThemeToggle from "./ThemeToggle.astro";

const navItems = [
  {
    title: "Inicio",
    label: "home",
    url: "#home",
  },
  {
    title: "Experiencia",
    label: "experience",
    url: "#experience",
  },
  {
    title: "Sobre mí",
    label: "about",
    url: "#about",
  },
  {
    title: "Skills",
    label: "skills",
    url: "#skills",
  },
];
---

<header
  class="fixed top-0 z-10 flex justify-center items-center gap-x-3 pt-5 w-full xl:w-[1120px]"
>
  <nav
    class="flex px-5 py-2 gap-x-4 text-xs sm:text-sm md:text-base font-medium
    text-slate-600 dark:text-slate-200
    rounded-full bg-white/60 dark:bg-gray-800/60 backdrop-blur shadow-lg ring-1 ring-white/10"
  >
    {
      navItems.map((navItem) => (
        <a
          href={navItem.url}
          aria-label={navItem.label}
          class="hover:text-blueribbon-600 dark:hover:text-turquoise-400 transition-colors"
        >
          {navItem.title}
        </a>
      ))
    }
    <ThemeToggle />
  </nav>
</header>
