---
import Badge from "./Badge.astro";
import SocialBadge from "./SocialBadge.astro";
import GithubIcon from "./icons/Github.astro";
import LinkedInIcon from "./icons/LinkedIn.astro";
---

<div class="flex gap-x-4 items-center mb-6">
  <img class="rounded-full size-16" src="/logo.jpg" alt="logo" />
  <a
    href="mailto:quinterosmauro0599@gmail.com"
    target="_blank"
    rel="noopener"
    class="hover:scale-105 transition"
  >
    <Badge>Disponible para trabajar</Badge>
  </a>
</div>
<h1 class="text-3xl md:text-4xl lg:text-5xl font-semibold pb-4 lg:pb-6">
  Hola, soy Mauro
</h1>

<h2
  class="text-base sm:text-xl text-wrap text-gray-800 dark:text-gray-300 max-w-[700px]"
>
  3 años de experiencia.
  <strong class="text-blueribbon-600 dark:text-turquoise-400 font-semibold"
    >Desarrollador Backend</strong
  >
  <span>para el sector financiero.</span>
  <span>
    Especializado en el desarrollo de <strong
      class="text-blueribbon-600 dark:text-turquoise-400 font-semibold"
      >APIs y servicios en la nube</strong
    >.
  </span>
  <br />
  <span
    >Apasionado por superar desafíos en la <strong
      class="text-blueribbon-600 dark:text-turquoise-400 font-semibold"
      >escalabilidad del producto</strong
    > y mejorar la experiencia del usuario.</span
  >
</h2>

<nav class="flex flex-wrap gap-4 lg:gap-x-6 mt-6">
  <SocialBadge href="https://www.linkedin.com/in/mauroquinteros/">
    <LinkedInIcon class="size-4" />
    LinkedIn
  </SocialBadge>
  <SocialBadge href="https://github.com/mauroquinteros/">
    <GithubIcon class="size-4" />
    Github
  </SocialBadge>
</nav>
