---
import { skills } from "@/data/skills.json";
import JavaScriptIcon from "./icons/skills/JavaScript.astro";
import TypeScriptIcon from "./icons/skills/TypeScript.astro";
import NestJSIcon from "./icons/skills/NestJS.astro";
import JestIcon from "./icons/skills/Jest.astro";
import FlaskIcon from "./icons/skills/Flask.astro";
import PythonIcon from "./icons/skills/Python.astro";
import PostgresIcon from "./icons/skills/Postgres.astro";
import GitIcon from "./icons/skills/Git.astro";
import GolangIcon from "./icons/skills/Golang.astro";
import MongodbIcon from "./icons/skills/Mongodb.astro";
import HTMLIcon from "./icons/skills/HTML.astro";
import CSSIcon from "./icons/skills/CSS.astro";
import AWSIcon from "./icons/skills/AWS.astro";
import ReactIcon from "./icons/skills/React.astro";
import AngularIcon from "./icons/skills/Angular.astro";

const skillIcons: Record<string, any> = {
  JavaScriptIcon,
  TypeScriptIcon,
  NestJSIcon,
  JestIcon,
  FlaskIcon,
  PythonIcon,
  PostgresIcon,
  GitIcon,
  GolangIcon,
  MongodbIcon,
  HTMLIcon,
  CSSIcon,
  AWSIcon,
  ReactIcon,
  AngularIcon,
};
---

<ul class="flex flex-wrap justify-center gap-4">
  {
    skills.map(({ name, iconName }) => {
      const Icon = skillIcons[iconName];
      return (
        <li
          class="flex justify-center items-center gap-x-2
          py-1.5 px-2.5 sm:py-2 sm:px-4
          bg-gray-100 dark:bg-[#1c1e23]
          border-gray-300 dark:border-white/10 border rounded-full"
        >
          {Icon && <Icon class="size-4" />}
          <span class="text-xs sm:text-sm text-gray-800 dark:text-gray-300">
            {name}
          </span>
        </li>
      );
    })
  }
</ul>
