---
import { skills } from "@/data/skills.json";
import JavaScriptIcon from "./icons/skills/JavaScript.astro";
import TypeScriptIcon from "./icons/skills/TypeScript.astro";
import NestJSIcon from "./icons/skills/NestJS.astro";
import JestIcon from "./icons/skills/Jest.astro";
import FlaskIcon from "./icons/skills/Flask.astro";
import PythonIcon from "./icons/skills/Python.astro";
import PostgresIcon from "./icons/skills/Postgres.astro";
import MySQLIcon from "./icons/skills/MySQL.astro";
import GitIcon from "./icons/skills/Git.astro";
import GolangIcon from "./icons/skills/Golang.astro";
import MongodbIcon from "./icons/skills/Mongodb.astro";
import HTMLIcon from "./icons/skills/HTML.astro";
import CSSIcon from "./icons/skills/CSS.astro";
import AWSIcon from "./icons/skills/AWS.astro";
import ReactIcon from "./icons/skills/React.astro";
import AngularIcon from "./icons/skills/Angular.astro";

const skillIcons: Record<string, any> = {
  JavaScriptIcon,
  TypeScriptIcon,
  NestJSIcon,
  JestIcon,
  FlaskIcon,
  PythonIcon,
  PostgresIcon,
  MySQLIcon,
  GitIcon,
  GolangIcon,
  MongodbIcon,
  HTMLIcon,
  CSSIcon,
  AWSIcon,
  ReactIcon,
  AngularIcon,
};
---

<ul
  class="flex flex-wrap justify-center gap-2 text-gray-800 dark:text-gray-300"
>
  {
    skills.map(({ name, iconName }) => {
      const Icon = skillIcons[iconName];
      return (
        <li class="flex justify-center gap-2 items-center bg-white/5 border border-white/10 rounded-full mx-1 md:mx-1 py-1.5 px-2.5 md:py-2 md:px-4 text-xs md:text-sm transition hover:bg-white/10 mb-2 cursor-pointer">
          {Icon && <Icon class="size-4" />}
          <span>{name}</span>
        </li>
      );
    })
  }
</ul>
