---
import MoonIcon from "./icons/Moon.astro";
import SunIcon from "./icons/Sun.astro";
---

<div class="relative size-5">
  <button
    id="light"
    data-toggle="dark"
    class="theme-button absolute flex hover:text-blueribbon-600 dark:hover:text-turquoise-400 appearance-none border-none transition-all"
  >
    <MoonIcon class="size-5 pointer-events-none" />
  </button>
  <button
    id="dark"
    data-toggle="light"
    class="theme-button absolute flex hover:text-blueribbon-600 dark:hover:text-turquoise-400 appearance-none border-none transition-all"
  >
    <SunIcon class="size-5 pointer-events-none" />
  </button>
</div>

<script is:inline>
  const darkMatchMedia = window.matchMedia("(prefers-color-scheme: dark)");

  const getThemePreference = () => {
    if (localStorage.theme) {
      return localStorage.theme;
    }

    return darkMatchMedia.matches ? "dark" : "light";
  };

  const setThemePreference = () => {
    const themePreference = getThemePreference();

    themePreference === "dark"
      ? document.documentElement.classList.add("dark")
      : document.documentElement.classList.remove("dark");

    document.querySelectorAll(".theme-button").forEach((element) => {
      element.style.scale = element.id === themePreference ? "1" : "0";
    });
  };

  darkMatchMedia.addEventListener("change", setThemePreference);
  setThemePreference();

  document.querySelectorAll(".theme-button").forEach((element) => {
    element.addEventListener("click", (event) => {
      localStorage.setItem("theme", event.target.dataset.toggle);
      setThemePreference();
    });
  });
</script>
